@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
}

.title{
margin-bottom: 30px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: rgb(255, 255, 255);
margin-left: 10px;

}

.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.form{
              
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
     display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    background: linear-gradient(109.6deg, rgb(250, 255, 253) 11.2%, rgb(46, 109, 129) 91.1%);
}

.score{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    margin-bottom: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#playerscore{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#computerscore{
    font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.player{
     margin-left: 9px;
}
.computer{
    margin-left: 30px;
}




.action-message{
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;

}
.options{
    padding: 0.8rem;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    }


    
    .rock{
        margin-left: 2px;
        border-radius: 50%;
        border: none;
        padding: 30px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
        background-image: url('images/rock.PNG');
        background-size: cover; /* Adjust the sizing of the background image */
        background-position: center; /* Adjust the position of the background image */
        opacity: 1; /* Initial opacity value */
  transition: opacity 0.3s ease;
    }
    .rock:hover{
        cursor: pointer;
        background: rgb(205, 206, 203);
        
    }
    .paper{
        margin-left: 20px;
        border-radius: 40%;
        border: none;
        padding: 30px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
        background-image: url('images/paper.PNG');
        background-size: cover; /* Adjust the sizing of the background image */
        background-position: center; /* Adjust the position of the background image */
    }
.paper:hover{
        cursor: pointer;
        background:rgb(205, 206, 203);
    }

    .scissors{
        margin-left: 20px;
        border-radius: 40%;
        border: none;
        padding: 30px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
        background-image: url('images/scissors.PNG');
        background-size: cover; /* Adjust the sizing of the background image */
        background-position: center; /* Adjust the position of the background image */
    }

    .scissors:hover{
        cursor: pointer;
        background: rgb(205, 206, 203);
    }


span{
    margin-left: 40px;
}
    



.image-button {
  background-image: url('path/to/your/image.jpg');
  background-size: cover; /* Adjust the sizing of the background image */
  background-position: center; /* Adjust the position of the background image */
}
.image-button {
  background-image: url('path/to/your/image.jpg');
  background-size: cover; /* Adjust the sizing of the background image */
  background-position: center; /* Adjust the position of the background image */
}

.result{
color: aliceblue;
margin-top: 10px;
}
